/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}






/* FULL */
body {
    background-color: rgb(179, 255, 201);
    
}
::selection{
    color: rgb(255, 255, 255);
    background-color: black;
}
.septr{
    background-color: rgba(0, 0, 0, 0.4);
    height: 1px;
}


/* HEADER */
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
}


#logo {
    display: flex;
    align-items: center;
    padding: 0 40px;
    text-align: center;
}
#logo img {
    height: 5vh;
}
#logo span {
    padding: 0 17px;
    font-size: x-large;
}
#logo, nav{
    margin: 20px 0;
}

nav li a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}
nav li {
    list-style: none;
    padding: 0 5px;
    text-transform: uppercase;
}
nav ul {
    padding: 0 40px;
    display: flex;
    flex-direction: row;
}



/* LANDING AREA */
#lander {
    height: 88vh;
    margin: auto;
    margin-top: 12vh;
    display: flex;
    flex-direction: row;
}
#lander #hero {
    align-items: center;
}
#lander img {
    display: block;
    width:450px;
    height: auto;

}
#lander #details,#lander #hero{
    display: flex;
    width: 49vw;
    justify-content: center;
}

#lander #details{
    flex-direction: column;
}
#details h1{
    font-size: xxx-large;
    font-weight: normal;
}
.btn{
    background-color: rgb(26, 26, 26);
    display: inline;
    width: 120px;
    text-align: center;
    border-radius: 15px;
    padding: 2px;
    margin: 6px 0;
} 
.btn a{
    color: rgb(240, 240, 240);
}
#lander h3{
    margin-top: -15px;
}
#details .septr{
    width: 40%;
    margin: 5px 0;
}


/* ABOUT SECTION */
#about{
    height: 88vh;
}




/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-content: space-between;
    }
    #logo{
        flex-flow: column wrap;
    }
    #logo img{
        padding-top: 5px;
    }

    #lander{
        display: flex;
        flex-direction: column;
        height: 78vh;
    }
    #lander #hero{
        width: 80vw;
    }
    #lander #details{
        width: 80vw;
    }
    #logo, nav{
        margin: 0 0;
    }

    #lander #hero, #lander #details{
        margin: 0 auto;
    }
    #lander #details{
        align-items: center;
    }
    #details h1{
        font-size: xx-large;
    }
    #details h3{
        font-size: small;
        margin-top: -7px;
    }
    .btn a{
        font-size: small;
    }
}